body {
    background-color: #9CEE59;
    color: black;
}
a {
    color: #999999;
}
#kulso {
    width: 980px;
    background-color: #509050;
    margin: auto;
    left: 0;
    right: 0;
}